.body{
    max-width: 1440px;
    margin: 3% auto;
    padding: 0 5%;
}


.gallery_card{
    position: relative;
    width: 30%;
    height: 340px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition : box-shadow 0.2s ease-in-out;
}