.banniere2
{
    width: 100%;
    position: relative;
    height: 200px;
    margin-bottom: 20px;
}

.banniereimg
{
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    object-position: center 44%;
    height: 200px;
    filter: brightness(85%)
}

