.headercss{
    display: flex;
    justify-content: space-between;
    margin: 5%;
    
    
}



.navcss{
    width: 30%;
    display: flex;
    justify-content: space-between;
   
}
    


.navcss a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    text-decoration: none;
    color: black;
    font-size:2rem;
    color: #FF6060;
    
}