.footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 150px;
}

.logoFooter{
    padding: 2%;
    width: 10%;
    margin: auto;
}


.C2020{
    width: 20%;
    margin: auto;
    padding: 2%;
}