.collapsible2{
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    padding-left: 5px;
    width: auto;
    border-radius: 15px;
    background-color: rgba(255, 96, 96, 1);
    color: white;
  }


  .collapsible2 h2{
    margin: 5px;
}

.content{
    margin: 0;
    width: auto;
    height: 230px;
}